<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExplorateurFichier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ExplorateurFichier.Properties.Settings>
            <setting name="Chemin" serializeAs="String">
                <value />
            </setting>
            <setting name="NbFichier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NbFichierCs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FichierLong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListeFichier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PositionFenetre" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </ExplorateurFichier.Properties.Settings>
    </userSettings>
</configuration>